<div class="main-layout">
        <div class="admin-panel">
        </div>
    <div class="bgr-fixed wait-handle">
        <div class="wait">
            <div class="text">
                Đang xử lý
            </div> 
            <img src="/img/Spinner.png" alt="">
        </div>
    </div>
</div>
<script src="/js/productPanel.js"></script>