<footer>
    <div class="footer-contact container">
        <div class="info-web">
            <div class="logo">
                <img src="/img/logo-light.png" alt="">
            </div>
            <div class="addr">
                <span><i class="fas fa-map-marker-alt"></i> Địa chỉ: Thôn chúng, Xã Đông-Lỗ - Hiệp Hòa - Bắc Giang</span>
                <br>
                <span><i class="fas fa-phone-square-alt"></i> Điện thoại: 0973551247</span>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.6294608939997!2d105.9951851026104!3d21.286130114672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313511a37fa5a55f%3A0x48c8a1663c3b3167!2schu%20tinh%20ngoc!5e0!3m2!1svi!2s!4v1626139970619!5m2!1svi!2s" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="web-access">
                 <span class="number">Số lượng đã truy cập <span class="text-danger">150</span></span> 
                 <span class="number">Đã bán <span class="text-danger">150</span></span>
            </div>
        </div>
        <div class="info-link">
            <div class="info-link-item">
                <div class="title">
                    Chính sách của Shop
                </div>
                <div class="text">
                  <a href="">Chính sách bảo mật</a>
                </div>
                <div class="text">
                  <a href="">Chính sách đổi trả</a>
                </div>
                <div class="text">
                    <a href="">Giao hàng và thanh toán</a>
                </div>
            </div>
            <div class="info-link-item">
                <div class="title">
                Liên hệ chủ shop
                </div>
                <div class="text">
                  <i class=" fab fa-facebook-square"></i> <a href="https://www.facebook.com/khanh0006/" target="_blank">Facebook Duy Khánh</a>
                </div>
                <div class="text">
                    <a href="tel:0973551247">SĐT/Zalo: 0973551247</a>
                </div>
                <div class="title">
                Liên hệ làm web
                </div>
                <div class="text">
                  <i class=" fab fa-facebook-square"></i> <a href="https://www.facebook.com/khanh0006/" target="_blank">Facebook Duy Khánh</a>
                </div>
                <div class="text">
                    <a href="tel:0973551247">SĐT/Zalo: 0973551247</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end container">
        <div class="line"></div>
        <div class="contact-design">
            <div class="text">Design by Duy Khanh</div>
            <div class="text">Liên hệ thiết kế Web: 0973551247</div>
        </div>
    </div>
</footer>