<div class="refund">
    <div class="title">Chính sách hỗ trợ</div>
    <div class="refund-items container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-info-refund">
                    <div class="text-icon"><i class="fas fa-dolly-flatbed"></i></div>
                    <div class="text">
                        Chấp nhận đổi trả sản phẩm trong vòng 1 tuần nếu sản phẩm bị lỗi.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-info-refund">
                    <div class="text-icon"><i class="fas fa-shipping-fast"></i></div>
                    <div class="text">
                        Miễn phí vận chuyển trong khu vực Hà Nội.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-info-refund">
                    <div class="text-icon"><i class="fas fa-box-open"></i></div>
                    <div class="text">
                        Kiểm tra hàng trước khi nhận.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>