<div class="main-layout">
    <div class="side-menu-order">
        <div class="content-menu">
            <div class="item-menu">
                <div class="item-link btn-sort-order active" data-sort="isAll" href="">Tất cả <span class="num-order all">0</span></div>
            </div>
            <div class="item-menu">
                <div class="item-link btn-sort-order" data-sort="isCheck" href="">Chờ lấy hàng <span class="num-order check">0</span></div>
            </div>
            <div class="item-menu">
                <div class="item-link btn-sort-order" data-sort="isShipping" href="">Đang giao <span class="num-order shipping">0</span></div>
            </div>
            <div class="item-menu">
                <div class="item-link btn-sort-order" data-sort="isDone" href="">Đã nhận <span class="num-order done">0</span></div>
            </div>
            <div class="item-menu">
                <div class="item-link btn-sort-order" data-sort="isCancel" href="">Đã hủy <span class="num-order cancel">0</span></div>
            </div>
        </div>
    </div>
    <div class="main-order">
    </div>
</div>
<script src="/js/client/order.js"></script>